nav {
  display: inline-block
}

header {
  background-color:rgb(58, 58, 58);
  height: 100px;
  width: 1000px;
}

footer {
  background-color:rgb(58, 58, 58);
  height: 100px;
  width: 1000px;
}

ul {
  padding: 30px;
  float: right;
}

li {
  display: inline;
  padding: 50px;
  color: rgb(116, 114, 114);
  font-size: 16px;
}

.p {
  overflow: scroll;
  float:right; 
  height: 350px;
  width: 480px;
}

#img-container {
  display: inline-block;
  padding: 10px; /* if you want space between the images */
}

img {
  padding: 10px;
}

.thirdrow {
  position: relative;
  display: inline-block;
}

#action {
  position: absolute;
  width: 160px;
  height: 35px;
  background-color: black;
  color: white;
  float: right;
  right: 33%;
  top:88%;
  transition: 0.35s;
}
#action:hover {
  color: pink;
  font-size: 16px;
}

p {
  text-align: center;
  padding: 10px;
}